<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
        <authorization>
            <allow users="?" />
        </authorization>
    </system.web>
   <system.webServer>
  <asp>
     <cache diskTemplateCacheDirectory="%SystemDrive%\inetpub\temp\ASP Compiled Templates" />
     <limits maxRequestEntityAllowed="2097152"/>
  </asp>
	   <defaultDocument>
		<files>
		 <clear />
		 <add value="index.asp" />
		</files>
	  </defaultDocument>
		<staticContent>
		  <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
		  <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
	  <security>
		<requestFiltering>
		  <requestLimits maxAllowedContentLength="2097152" /> <!-- Upload maxsize = 2mb -->
		</requestFiltering>
	  </security>

  </system.webServer>
  
</configuration>

